body {
    width: 1280px;
    margin: 0 auto;
}

.column {
  display: inline-block;
  margin:0;
  padding:0;
  float: left;
}

.column.thin {
  width: 240px;
  height: 800px;
}

.column.large {
  width: 800px;
  height: 800px;
}

.cellule {
  border: solid black 1px;
  width: 31px;
  height: 31px;
}
