body {
    width: 1280px;
    margin: 0 auto;
}

.column {
  display: inline-block;
  margin:0;
  padding:0;
  float: left;
}

.column.thin {
  width: 240px;
  height: 672px;
}

.column.large {
  /*width: 800px;*/
  height: 672px;
}

.ligne {
  display: inline-block;
  float: left;
  width: 32px;
}

.cellule {
  border: dotted #898989 1px;
  width: 32px;
  height: 32px;
  float: left;
}

.uk-card-body {
  height: 100%;
}
