body {
    font-family: 'Roboto', sans-serif !important;
    width: 1536px;
}

.uk-navbar-nav li a {
    color: #fff;
    font-family: 'Roboto-light', sans-serif;
}

.huge-title {
    font-family: 'Roboto-light', sans-serif;
    font-size: 72px;
}

.uk-navbar-item *.uk-icon-link {
    color: #ffeb3b;
}

.roboto-thin {
    font-family: 'Roboto-thin', sans-serif;
}

.uk-card-default {
    box-shadow: none;
    border: 1px solid black;
}

.column {
  display: inline-block;
  margin:0;
  padding:0;
  float: left;
}

.column.thin {
  width: 384px;
  background: red;
}

.column.large {
  width: 768px;
}

.cellule {
  display: inline-block;
  float: left;
  border: 1px solid black;
  width: 36.8px;
  height: 30px;
}

#playButton {
    color: #ffeb3b;
    font-size: 30px;
}
